.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 90px);

  svg {
    width: var(--font-size-large);

    @media (prefers-reduced-motion: no-preference) {
      :global {
        animation: spin infinite 2s linear;
      }
    }
  }
}
